In [1]:
# load datasets

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')

df = pd.read_csv('combined_dataset.csv', sep = ';')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 922 entries, 0 to 921
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   model_2008                 922 non-null    object
 1   displ_2008                 922 non-null    float64
 2   cyl_2008                   922 non-null    int64
 3   trans_2008                 922 non-null    object
 4   drive_2008                 922 non-null    object
 5   fuel_2008                  922 non-null    object
 6   veh_class_2008             922 non-null    object
 7   air_pollution_score_2008   922 non-null    float64
 8   city_mpg_2008              922 non-null    float64
 9   hwy_mpg_2008               922 non-null    float64
 10  cmb_mpg_2008               922 non-null    float64
 11  greenhouse_gas_score_2008  922 non-null    int64
 12  smartway_2008              922 non-null    object
 13  model_2018                 922 non-null    object
 14  displ_2018                 922 non-null    float64
 15  cyl_2018                   922 non-null    int64
 16  trans_2018                 922 non-null    object
 17  drive_2018                 922 non-null    object
 18  fuel_2018                  922 non-null    object
 19  veh_class_2018             922 non-null    object
 20  air_pollution_score_2018   922 non-null    float64
 21  city_mpg_2018              922 non-null    float64
 22  hwy_mpg_2018               922 non-null    float64
 23  cmb_mpg_2018               922 non-null    float64
 24  greenhouse_gas_score_2018  922 non-null    int64
 25  smartway_2018              922 non-null    object
dtypes: float64(10), int64(4), object(12)
memory usage: 187.4+ KB

In [3]:
df.shape

(922, 26)

### 1. Create a new dataframe, `model_mpg`, that contain the mean combined mpg values in 2008 and 2018 for each unique model

In [4]:
model_mpg = df.groupby('model_2018').mean()[['cmb_mpg_2008', 'cmb_mpg_2018']]

In [5]:
model_mpg.head()

            cmb_mpg_2008  cmb_mpg_2018
model_2018
ACURA RDX      19.000000     22.500000
AUDI A3        23.333333     28.000000
AUDI A4        21.000000     27.000000
AUDI A6        19.666667     25.666667
AUDI A8 L      16.500000     22.000000

### 2. Create a new column, `mpg_change`, with the change in mpg

In [6]:
model_mpg['mpg_change_2018'] = model_mpg['cmb_mpg_2018'] - model_mpg['cmb_mpg_2008']

In [7]:
model_mpg.head()

            cmb_mpg_2008  cmb_mpg_2018  mpg_change_2018
model_2018
ACURA RDX      19.000000     22.500000         3.500000
AUDI A3        23.333333     28.000000         4.666667
AUDI A4        21.000000     27.000000         6.000000
AUDI A6        19.666667     25.666667         6.000000
AUDI A8 L      16.500000     22.000000         5.500000

### 3. Find the vehicle that improved the most

In [8]:
max_change = model_mpg['mpg_change_2018'].max()
max_change

16.53333333333334

In [9]:
model_mpg[model_mpg['mpg_change_2018'] == max_change]

             cmb_mpg_2008  cmb_mpg_2018  mpg_change_2018
model_2018
VOLVO XC 90     15.666667          32.2        16.533333

In [10]:
idx = model_mpg.mpg_change_2018.idxmax()
idx

'VOLVO XC 90'

In [11]:
model_mpg.loc[idx]

cmb_mpg_2008       15.666667
cmb_mpg_2018       32.200000
mpg_change_2018    16.533333
Name: VOLVO XC 90, dtype: float64