# Filter, Drop Nulls, Dedupe

In [21]:
# load datasets
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')

alpha08 = pd.read_csv('data_08_v1.csv', sep = ';')
alpha18 = pd.read_csv('data_18_v1.csv', sep = ';')

In [23]:
alpha08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 2404 non-null   object
 1   displ                 2404 non-null   float64
 2   cyl                   2205 non-null   object
 3   trans                 2205 non-null   object
 4   drive                 2311 non-null   object
 5   fuel                  2404 non-null   object
 6   cert_region           2404 non-null   object
 7   veh_class             2404 non-null   object
 8   air_pollution_score   2404 non-null   object
 9   city_mpg              2205 non-null   object
 10  hwy_mpg               2205 non-null   object
 11  cmb_mpg               2205 non-null   object
 12  greenhouse_gas_score  2205 non-null   object
 13  smartway              2404 non-null   object
dtypes: float64(1), object(13)
memory usage: 263.1+ KB

In [2]:
# view dimensions of dataset
alpha08.shape

(2404, 14)

In [3]:
# view dimensions of dataset
alpha18.shape

(1611, 14)

## Filter by Certification Region

In [4]:
# filter datasets for rows following California standards
alpha08 = alpha08.query('cert_region == "CA"')

In [5]:
alpha18 = alpha18.query('cert_region == "CA"')

In [6]:
# confirm only certification region is California
alpha08['cert_region'].unique()

array(['CA'], dtype=object)

In [7]:
# confirm only certification region is California
alpha18['cert_region'].unique()

array(['CA'], dtype=object)

In [8]:
# drop certification region columns form both datasets
alpha08.drop('cert_region', axis=1, inplace=True)
alpha18.drop('cert_region', axis=1, inplace=True)

In [9]:
alpha08.shape

(1084, 13)

In [10]:
alpha18.shape

(798, 13)

## Drop Rows with Missing Values

In [11]:
# view missing value count for each feature in 2008
alpha08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [12]:
# view missing value count for each feature in 2018
alpha18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [13]:
# drop rows with any null values in both datasets
alpha08.dropna(inplace=True)
alpha18.dropna(inplace=True)

In [14]:
# checks if any of columns in 2008 have null values - should print False
alpha08.isnull().sum().any()

False

In [15]:
# checks if any of columns in 2018 have null values - should print False
alpha18.isnull().sum().any()

False

## Dedupe Data

In [16]:
# print number of duplicates in 2008 and 2018 datasets
print(alpha08.duplicated().sum())
print(alpha18.duplicated().sum())

23
3

In [17]:
# drop duplicates in both datasets
alpha08.drop_duplicates(inplace=True)
alpha18.drop_duplicates(inplace=True)

In [18]:
# print number of duplicates again to confirm dedupe - should both be 0
print(alpha08.duplicated().sum())
print(alpha18.duplicated().sum())

0
0

In [19]:
# save progress for the next section
alpha08.to_csv('data_08_v2.csv', index=False)
alpha18.to_csv('data_18_v2.csv', index=False)